@tailwind base;
@tailwind components;
@tailwind utilities;

.dragging {
  @apply opacity-50 shadow-lg;
}

.pmdl-preview {
  @apply bg-gray-900 text-gray-100 p-4 rounded-lg overflow-x-auto;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}
